<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css">

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  
  <body>
    <div id="wrapper">
        <div id="map"></div>
        <!-- <p>{{location}}</p> -->
        <!-- <div class="card">
          <button id='map-link' v-on:click='getLocation()' class='button'>Get Location</button>
          <div class="field" >
            <div class="control">
                <button class='button'>Card One</button>
                <button class='button'>Card Two</button>
                <button class='button'>Card Three</button>
                <button class='button'>Card Four</button>
                <button class='button'>Card Five</button>
            </div>
          </div> -->
          <div class="align-bottom">
            <div v-if='isGarage' class="section">
                <div class="card garage-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered garage fs-lg pb0 level-item">
                      {{reverseGeoCode}} Parking
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pb0"> {{myCurrentData.Cost}} </p>
                    <p class="has-text-centered pt2 pb0"> {{myCurrentData.CostType}} </p>
                    <!-- <p class="has-text-centered pt2 pb0 fs-underline"> Description</p> -->
                    <!-- <p class="has-text-centered pt1 pb0 fs-sm"> Celiac forage williamsburg, raclette selfies snackwave kombucha kickstarter. There are {{myCurrentData.SpacesAvailable}} spaces available</p> -->
                    <p class="has-text-centered pt2 pb0 fs-sm">There are {{myCurrentData.SpacesAvailable}} spaces available</p>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a class="button is-rounded is-medium get-direction-button">
                            <div v-on:click='getDirections()' class="pine-green fs-lg fw-bold">Get Directions Here</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>   
            <div v-if="isParkShare" class="section">
                <div class="card parkshare-card-border">
                    <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                      <p class="card-header-title has-text-centered parkshare fs-lg pb0 level-item">
                        ParkShare
                      </p>
                    </header>
                    <div class="card-content fs-med pt2">
                      <p class="has-text-centered pb0"> {{myCurrentData.Cost}} </p>
                      <p class="has-text-centered pt2 pb0"> Available Till: {{myCurrentData.myTime}} </p>
                      <p class="has-text-centered pt2 pb0 fs-underline"> Description</p>
                      <p class="has-text-centered pt1 pb0 fs-sm"> {{myCurrentData.Description}}</p>
                      <div class="level is-mobile mb0 pt2">
                        <div class="level-item">
                            <a class="button is-rounded is-medium get-direction-button">
                            <div class="pine-green fs-lg fw-bold">Get Directions Here</div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>          
            </div> 
            <div v-if="isStreetParking" class="section">
              <div class="card street-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered dark-red fs-lg pb0 level-item">
                      {{reverseGeoCode}}
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pb0"> Cost: ${{myCurrentData.Cost}} </p>
                    <p class="has-text-centered pt2 pb0"> {{myCurrentData.maxDuration}}</p>
                    <p class="has-text-centered pt2 pb0 fs-underline"> Description</p>
                    <p class="has-text-centered pt1 pb0 fs-sm"> {{ myCurrentData.Description }}</p>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a class="button is-rounded is-medium get-direction-button">
                          <div class="pine-green fs-lg fw-bold">Get Directions Here</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>                
            </div>
            <div v-if="isConstruction" class="section">
                <div class="card construction-card-border">
                    <header class="card-header is-centered no-border-shadow pb0">
                      <p class="card-header-title has-text-centered construction fs-lg pb0">
                        {{reverseGeoCode}} Construction
                      </p>
                    </header>
                    <div class="card-content fs-med pt2">
                      <p class="has-text-centered pb0">Type of Construction: {{myCurrentData.Type}} </p>
                      <p class="has-text-centered pt2 pb0"> Ending On: {{myCurrentData.myTime}}</p>
                      <p class="has-text-centered pt2 pb0 fs-underline"> Notes:</p>
                      <p class="has-text-centered pt1 pb0 fs-sm"> {{myCurrentData.Notes}}</p>
                      <div class="columns is-mobile pt2">
                        <div class="column level is-mobile mb0 p0">
                          <div class="level-item">
                            <figure class="image is-64x64 hoverthumb">
                              <img src="./src/icons/thumbs-down.svg">
                            </figure>
                          </div>
                        </div>
                        <div class="column level is-mobile p0">
                          <div  class="level-item">
                            <figure class="image is-64x64 hoverthumb">
                              <img src="./src/icons/thumbs-up.svg">
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                
            </div>
            <div v-if="isParkingAttendant" class="section">
              <div class="card attendent-card-border">
                  <header class="card-header level is-mobile is-centered no-border-shadow mb0 pb0">
                    <p class="card-header-title level-item has-text-centered pine-green fs-lg pb0">
                      Parking Attendent
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pb0"> Threat Level: {{myCurrentData.ThreatLevel}}</p>
                    <p class="has-text-centered pt2 pb0"> {{reverseGeoCode}} </p>
                    <p class="has-text-centered pt2 pb0 fs-underline"> Last Reported At: </p>
                    <p class="has-text-centered pt1 pb0 fs-sm"> Watch out, he's a lumbersexual flexatarian</p>
                    <div class="columns is-mobile pt2">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          <figure class="image is-64x64 hoverthumb">
                            <img src="./src/icons/thumbs-down.svg">
                          </figure>
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div  class="level-item">
                          <figure class="image is-64x64 hoverthumb">
                            <img src="../../src/icons/thumbs-up.svg">
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
            </div>
            <div v-if="settingsPanel" class="section">
              <div  class="card settings-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered black fs-underline fs-lg pb0 level-item">
                      Settings
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Garages
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Street
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          ParkShare
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Attendents
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Construction
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a class="button is-rounded is-medium sign-up-button">
                          <div class="$medium-grey fs-med">Sign up</div>
                          </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>   
          
          <div class="settings-button">
              <figure v-on:click='openSettings()' class="image is-64x64 hoverthumb">
                  <img src="./src/icons/settings.svg">
              </figure>
            </div>
            <div class="add-button">
              <figure class="image is-64x64 hoverthumb">
                  <img src="./src/icons/addcontent.svg">
              </figure>
          </div>
    
      </div>

          
        <!-- </div>
    </div> -->

    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-firestore.js"></script>

    
    <script src='vueScript.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt08QRtM9SQlwlstivjJGpw6lGX1C8LIY&callback=initMap"></script>

  </body>
</html>