<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css">

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  
  <body>
    <div id="wrapper">
        <div id="map"></div>
        <!-- <p>{{location}}</p> -->
        <!-- <div class="card">
          <button id='map-link' v-on:click='getLocation()' class='button'>Get Location</button>
          <div class="field" >
            <div class="control">
                <button class='button'>Card One</button>
                <button class='button'>Card Two</button>
                <button class='button'>Card Three</button>
                <button class='button'>Card Four</button>
                <button class='button'>Card Five</button>
            </div>
          </div> -->
          <div class="align-bottom">
            <div v-if='isGarage' class="section">
                <div class="card garage-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered garage fs-lg pb0 level-item">
                      {{reverseGeoCode}} Garage
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pb0"> {{myCurrentData.Cost}} </p>
                    <p class="has-text-centered pt2 pb0"> {{myCurrentData.CostType}} </p>
                    <!-- <p class="has-text-centered pt2 pb0 fs-underline"> Description</p> -->
                    <!-- <p class="has-text-centered pt1 pb0 fs-sm"> Celiac forage williamsburg, raclette selfies snackwave kombucha kickstarter. There are {{myCurrentData.SpacesAvailable}} spaces available</p> -->
                    <p class="has-text-centered pt2 pb0 fs-sm">There are {{myCurrentData.SpacesAvailable}} spaces available</p>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a class="button is-rounded is-medium get-direction-button">
                            <div v-on:click='getDirections()' class="pine-green fs-lg fw-bold">Get Directions Here</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>   
            <div v-if="isParkShare" class="section">
                <div class="card parkshare-card-border">
                    <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                      <p class="card-header-title has-text-centered parkshare fs-lg pb0 level-item">
                        ParkShare
                      </p>
                    </header>
                    <div class="card-content fs-med pt2">
                      <p class="has-text-centered pb0"> {{myCurrentData.Cost}} </p>
                      <p class="has-text-centered pt2 pb0"> Available Till: {{myCurrentData.myTime}} </p>
                      <p class="has-text-centered pt2 pb0 fs-underline"> Description</p>
                      <p class="has-text-centered pt1 pb0 fs-sm"> {{myCurrentData.Description}}</p>
                      <div class="level is-mobile mb0 pt2">
                        <div class="level-item">
                            <a class="button is-rounded is-medium get-direction-button">
                            <div class="pine-green fs-lg fw-bold">Get Directions Here</div>
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>          
            </div> 
            <div v-if="isStreetParking" class="section">
              <div class="card street-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered dark-red fs-lg pb0 level-item">
                      {{reverseGeoCode}} Spot
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pb0"> Cost: ${{myCurrentData.Cost}} / {{myCurrentData.CostType}} </p>
                    <p class="has-text-centered pt2 pb0"> {{myCurrentData.Type}}</p>
                    <!-- <p class="has-text-centered pt2 pb0"> {{myCurrentData.maxDuration}}</p> -->
                    <p class="has-text-centered pt2 pb0 fs-underline"> Description</p>
                    <p class="has-text-centered pt1 pb0 fs-sm"> {{ myCurrentData.description }}</p>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a v-on:click="arrivedAt" class="button is-rounded is-medium get-direction-button">
                          <div class="pine-green fs-lg fw-bold">Get Directions Here</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>                
            </div>
            <div v-if="isConstruction" class="section">
                <div class="card construction-card-border">
                    <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                      <p class="card-header-title level-item has-text-centered construction fs-lg pb0">
                        {{reverseGeoCode}} Construction
                      </p>
                    </header>
                    <div class="card-content fs-med pt2">
                      <p class="has-text-centered pb0">Type of Construction: {{myCurrentData.Type}} </p>
                      <p class="has-text-centered pt2 pb0"> Ending On: {{myCurrentData.myTime}}</p>
                      <p class="has-text-centered pt2 pb0 fs-underline"> Notes:</p>
                      <p class="has-text-centered pt1 pb0 fs-sm"> {{myCurrentData.Notes}}</p>
                      <div class="columns is-mobile pt2">
                        <div class="column level is-mobile mb0 p0">
                          <div class="level-item">
                            <figure class="image is-64x64 hoverthumb">
                              <img src="./src/icons/thumbs-down.svg">
                            </figure>
                          </div>
                        </div>
                        <div class="column level is-mobile p0">
                          <div  class="level-item">
                            <figure class="image is-64x64 hoverthumb">
                              <img src="./src/icons/thumbs-up.svg">
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                
            </div>
            <div v-if="isParkingAttendant" class="section">
              <div class="card attendent-card-border">
                  <header class="card-header level is-mobile is-centered no-border-shadow mb0 pb0">
                    <p class="card-header-title level-item has-text-centered pine-green fs-lg pb0">
                      Parking Attendent
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pb0"> Threat Level: {{myCurrentData.ThreatLevel}}</p>
                    <p class="has-text-centered pt2 pb0"> {{reverseGeoCode}} Street</p>
                    <p class="has-text-centered pt2 pb0 fs-underline"> Last Reported At: </p>
                    <p class="has-text-centered pt1 pb0 fs-sm"> Watch out, he's a lumbersexual flexatarian</p>
                    <div class="columns is-mobile pt2">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          <figure class="image is-64x64 hoverthumb">
                            <img src="./src/icons/thumbs-down.svg">
                          </figure>
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div  class="level-item">
                          <figure class="image is-64x64 hoverthumb">
                            <img src="../../src/icons/thumbs-up.svg">
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
            </div>
            <div v-if="isArrivedAt" class="section">
                <div class="card sign-up-confirm-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered confirm-blue fs-underline fs-lg pb0 level-item">
                      Arrived at Spot
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <p class="has-text-centered pt0 pb0"> Minutes Paid For </p>
                    <div class="is-centered has-text-centered">
                      <div class="select fs-sm">
                        <select v-model="timePaidFor">
                          <option>Minutes Paid For </option>
                          <option>30</option>
                          <option>60 (1hr)</option>
                          <option>90 (1.5hr)</option>
                          <option>120 (2hr)</option>
                          <option>150 (2.5hr)</option>
                          <option>180 (3hr)</option>
                          <option>210 (3.5hr)</option>
                          <option>240 (4hr)</option>
                        </select>
                      </div>
                    </div>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a v-on:click="submitArrivedAt" class="button is-rounded is-medium get-direction-button">
                          <div class="pine-green fs-med">Submit</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div v-if="settingsPanel" class="section">
              <div  class="card settings-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered black fs-underline fs-lg pb0 level-item">
                      Settings
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Garages
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Street
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          ParkShare
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Attendents
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns is-mobile mb0">
                      <div class="column level is-mobile mb0 p0">
                        <div class="level-item">
                          Construction
                        </div>
                      </div>
                      <div class="column level is-mobile p0">
                        <div class="level-item">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a v-on:click="openSignup" class="button is-rounded is-medium sign-up-button">
                          <div class="$medium-grey fs-med">Sign up</div>
                          </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div v-if="isSignup" class="section">
                <div class="card settings-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered black fs-underline fs-lg pb0 level-item">
                      Sign Up
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="input-field-underline">
                      <input v-model="signUpData.first_name" placeholder="First Name" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="input-field-underline">
                      <input v-model="signUpData.last_name" placeholder="Last Name" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="input-field-underline">
                      <input v-model="signUpData.email" placeholder="Email" type="email" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="input-field-underline">
                      <input v-model="signUpData.phone_number" placeholder="Phone Number" type="tel"  pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="input-field-underline">
                      <input v-model="signUpData.password" placeholder="Password" type="password" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="level is-mobile mb0 pt2">
                      <div class="level-item">
                          <a v-on:click="submitSignUp" class="button is-rounded is-medium sign-up-button">
                          <div class="$medium-grey fs-med">Sign up</div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="isSignupConfirm" class="section">
                  <div class="card sign-up-confirm-border">
                    <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                      <p class="card-header-title has-text-centered confirm-blue fs-lg pb0 level-item">
                        Sign up Confirmed!
                      </p>
                    </header>
                    <div class="card-content fs-med pt2">
                      <p class="black has-text-centered"> Thank you for your help in keeping XplrA2 great! </p>
                    </div>
                  </div>
                </div>
            <div v-if="isParkingAttendantAdd" class="section">
                <div class="card attendent-card-border">
                    <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                      <p class="card-header-title has-text-centered pine-green fs-lg pb0 level-item">
                        Add Attendent
                      </p>
                    </header>
                    <div class="card-content fs-med pt2">
                      <div class="is-centered has-text-centered mt2 mb1">
                        <div class="select fs-sm">
                          <select v-model='selected'>
                            <option> Threat Level </option>
                            <option>Mild</option>
                            <option>Angry</option>
                            <option>Vendetta</option>
                            <option>Midnight</option>
                          </select>
                        </div>
                      </div>
                      <div class="input-field-underline">
                        <input placeholder="Description (Optional)" type="text" class="full-width input is-static fs-sm"> 
                      </div>
                        <div class="columns is-mobile pt2">
                          <div class="column level is-mobile mb0 p0">
                            <div class="level-item">
                              <a class="button is-rounded is-medium cancel-button">
                                <div class="dark-red fw-bold fs-med">Cancel</div>
                              </a>
                            </div>
                          </div>
                          <div class="column level is-mobile p0">
                            <div  class="level-item">
                              <a v-on:click='submitParkingAttendant()' class="button is-rounded is-medium get-direction-button ">
                                <div class="pine-green fw-bold fs-med">Submit</div>
                              </a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>          
            </div>
            <div v-if="isParkShareAdd" class="section">
                <div class="card parkshare-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered parkshare fs-lg pb0 level-item">
                      Add ParkShare
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="input-field-underline">
                      <input v-model='fieldOne' placeholder="Cost (format: 1.25)" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="is-centered has-text-centered mt2 mb1">
                      <div class="select fs-sm">
                        <select v-model='selected'>
                          <option> Time Limit </option>
                          <option value='30'>30 min</option>
                          <option value='60'>1 hr</option>
                          <option value='90'>1 hr 30 min</option>
                          <option value='120'>2 hr</option>
                          <option value='150'>2 hr 30 min</option>
                          <option value='180'>3 hr</option>
                          <option value='210'>3 hr 30 min</option>
                          <option value='240'>4 hr</option>
                        </select>
                      </div>
                    </div>
                    <div class="input-field-underline">
                      <input v-model='fieldTwo' placeholder="Description (Optional)" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                      <div class="columns is-mobile pt2">
                        <div class="column level is-mobile mb0 p0">
                          <div class="level-item">
                            <a class="button is-rounded is-medium cancel-button">
                              <div class="dark-red fw-bold fs-med">Cancel</div>
                            </a>
                          </div>
                        </div>
                        <div class="column level is-mobile p0">
                          <div  class="level-item">
                            <a v-on:click='submitParkShare()' class="button is-rounded is-medium get-direction-button ">
                              <div class="pine-green fw-bold fs-med">Submit</div>
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div v-if='isConstructionAdd' class="section">
                <div class="card construction-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered construction fs-lg pb0 level-item">
                      Add Construction
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="is-centered has-text-centered mt2 mb1">
                      <div class="select fs-sm">
                        <select>
                          <option> Type </option>
                          <option>Full Street</option>
                          <option>One lane</option>
                          <option>Both lanes with Delay</option>
                        </select>
                      </div>
                    </div>
                    <div class="input-field-underline">
                      <input placeholder="Ending At (Optional)" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                    <div class="input-field-underline">
                      <input placeholder="Description (Optional)" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                      <div class="columns is-mobile pt2">
                        <div class="column level is-mobile mb0 p0">
                          <div class="level-item">
                            <a class="button is-rounded is-medium cancel-button">
                              <div class="dark-red fw-bold fs-med">Cancel</div>
                            </a>
                          </div>
                        </div>
                        <div class="column level is-mobile p0">
                          <div  class="level-item">
                            <a class="button is-rounded is-medium get-direction-button ">
                              <div class="pine-green fw-bold fs-med">Submit</div>
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div v-if="isGarageAdd" class="section">
                <div class="card garage-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered garage fs-lg pb0 level-item">
                      Update Garage Amount
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="input-field-underline">
                      <input placeholder="Spots Available" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                      <div class="columns is-mobile pt2">
                        <div class="column level is-mobile mb0 p0">
                          <div class="level-item">
                            <a class="button is-rounded is-medium cancel-button">
                              <div class="dark-red fw-bold fs-med">Cancel</div>
                            </a>
                          </div>
                        </div>
                        <div class="column level is-mobile p0">
                          <div  class="level-item">
                            <a class="button is-rounded is-medium get-direction-button ">
                              <div class="pine-green fw-bold fs-med">Submit</div>
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div v-if="isStreetParkingAdd" class="section">
                <div class="card street-card-border">
                  <header class="card-header is-centered no-border-shadow pb0 level is-mobile mb0">
                    <p class="card-header-title has-text-centered dark-red fs-lg pb0 level-item">
                      Add Street Parking
                    </p>
                  </header>
                  <div class="card-content fs-med pt2">
                    <div class="input-field-underline">
                      <input placeholder="Cost (Example: 1.25)" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                     <div class="is-centered has-text-centered mt2 mb1">
                      <div class="select fs-sm">
                        <select>
                          <option>Time Limit </option>
                          <option>30 min</option>
                          <option>1 hr</option>
                          <option>1 hr 30 min</option>
                          <option>2 hr</option>
                          <option>2 hr 30 min</option>
                          <option>3 hr</option>
                          <option>3 hr 30 min</option>
                          <option>4 hr</option>
                        </select>
                      </div>
                    </div>
                    <div class="input-field-underline">
                      <input placeholder="Description (Optional)" type="text" class="full-width input is-static fs-sm"> 
                    </div>
                      <div class="columns is-mobile pt2">
                        <div class="column level is-mobile mb0 p0">
                          <div class="level-item">
                            <a class="button is-rounded is-medium cancel-button">
                              <div class="dark-red fw-bold fs-med">Cancel</div>
                            </a>
                          </div>
                        </div>
                        <div class="column level is-mobile p0">
                          <div  class="level-item">
                            <a class="button is-rounded is-medium get-direction-button ">
                              <div class="pine-green fw-bold fs-med">Submit</div>
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          </div> 
          
          
          
          <div class="settings-button">
            <figure v-on:click='openSettings()' class="image is-64x64 hoverthumb">
                <img src="./src/icons/settings.svg">
            </figure>
          </div>
          <div v-on:click=openAddPanel()  class="add-button">
            <figure class="image is-64x64 hoverthumb">
                <img src="./src/icons/addcontent.svg">
            </figure>
          </div>

          <!-- <div class="section"> -->
          <div v-if="addPanel" class=" add-button">
          <div class="card add-expanded-border mr1">
            <div class="columns ">
              <div class="column is-narrow level mb0 pb0">
                <div class="level-item ml1 mr1">
                  <figure class="image is-64x64 hoverthumb">
                    <img src="./src/icons/addcontentexpanded.svg">
                  </figure>
                </div>
              </div>
              <div class="column is-narrow level mb0 pb0">
                <div class="level-item ml1 mr1">
                  <figure v-on:click="addStreetParking" class="image is-64x64 hoverthumb">
                    <img src="./src/icons/StreetIcon.svg">
                  </figure>
                </div>
              </div>
              <div class="column is-narrow level mb0 pb0">
                <div class="level-item ml1 mr1">
                  <figure v-on:click="addGarage" class="image is-64x64 hoverthumb">
                    <img src="./src/icons/GarageIcon.svg">
                  </figure>
                </div>
              </div>
              <div class="column is-narrow level mb0 pb0">
                <div class="level-item ml1 mr1">
                  <figure v-on:click="addParkingAttendant" class="image is-64x64 hoverthumb">
                    <img src="./src/icons/AttendentIcon.svg">
                  </figure>
                </div>
              </div>
              <div class="column is-narrow level mb0 pb0">
                <div class="level-item ml1 mr1">
                  <figure v-on:click="addParkShare" class="image is-64x64 hoverthumb">
                    <img src="./src/icons/ParkShareIcon.svg">
                  </figure>
                </div>
              </div>
              <div class="column is-narrow level mb0 pb1">
                <div class="level-item ml1 mr1">
                  <figure v-on:click="addConstruction" class="image is-64x64 hoverthumb">
                    <img src="./src/icons/ConstructionIcon.svg">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- </div> -->

      </div>

          
        <!-- </div>
    </div> -->

    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-firestore.js"></script>

    
    <script src='vueScript.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt08QRtM9SQlwlstivjJGpw6lGX1C8LIY&callback=initMap"></script>

  </body>
</html>